.footer{
    width: 1025px;
    height:87px;
    text-align: center;
    line-height: 87px;
    background-image: url(https://raw.githubusercontent.com/wei-ling-chan/hexschool-resume/main/assets/img-Looper-bg.png);
}